.products{
    padding: 20px;
    text-align: center;

    &-card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 269px;
        margin: 10px;
        text-align: center;
        font-family: arial;
        display: inline-block;

        &:hover{
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }
        &-container{
            padding: 2px 16px;
        }
 
        &-img{
            width:100%;
        }
        &-button {
            border: none;
            outline: 0;
            padding: 12px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 18px;
            display: inline-block;
            text-decoration: none;
            &:hover {
                opacity: 0.7;
            }
        }

      }
      
}