 .product{
    

    &-container {
        padding-right: .625rem;
        padding-left: .625rem;
        max-width: 75rem;
        margin: 0 auto;
        margin-top: 35px;

        &-details{
            padding:15px;

            .label{
                padding-top:5px;
                padding-bottom:10px;
            }
            
            p {
                background: #e9ecf3;
                padding: 15px;
            }

            &-cart-btn {
                border: none;
                outline: 0;
                padding: 12px;
                color: white;
                background-color: #000;
                text-align: center;
                cursor: pointer;
                font-size: 18px;
                display: inline-block;
                text-decoration: none;
                margin-right: 10px;
                &:hover {
                    opacity: 0.7;
                }
            }

            &-buy-btn {
                border: none;
                outline: 0;
                padding: 12px;
                color: white;
                background-color: #e22323;
                text-align: center;
                cursor: pointer;
                font-size: 18px;
                display: inline-block;
                text-decoration: none;
                margin-right: 10px;
                &:hover {
                    opacity: 0.7;
                }
            }
        }

        &-head {
            background: #e4e4e4;
            padding: 15px;
            color: #040404;

            .left {
                float: left;
                display: contents;
            }
            .right {
                float: right;
            }
        }
    }
    &-grid {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;

        
        .col-2{
            width: calc(16.66667% - 1.875rem);
            img{
                width:100%;
            }
        }
        .col-4{
            width: calc(33.33333% - 1.875rem);
            img{
                width:100%;
            }
        }
        .col-6{
            width: calc(50% - 1.875rem);
            img{
                width:100%;
            }
        }
        .col-8{
            width: calc(66.66667% - 1.875rem);
            img{
                width:100%;
            }
        }
        
        .col-12{
            width: calc(100% - 1.875rem);
            img{
                width:100%;
            }
        }
    }



  }



@media print, screen and (min-width: 40em){
    .product{
        &-container {
            padding-right: .9375rem;
            padding-left: .9375rem;
        }
    }
}